{
  "locale": ["sv_SE"],
  "seed": 1,
  "providers": ["internet", "address", "company"],
  "max_array_length": 10,
  "field_overrides": {
      "keytoreplacewithdata": "replacement made"
  },
  "keyword_matching":
    [
      { "keywords": ["email", "e-mail", "mail"], "method": "email" },
      { "keywords": ["date", "datum"], "method": "date" },
      { "keywords": ["dob", "birthday", "birth"], "method": "date_of_birth", "args": { "minimum_age": 18, "maximum_age": 90 } },
      { "keywords": ["status", "type", "label"], "method": "word" },
      { "keywords": ["company", "firm", "organization"], "method": "company" },
      { "keywords": ["ssn", "social security", "personnummer"], "method": "ssn" },
      { "keywords": ["phone", "tel", "mobile"], "method": "phone_number" },
      { "keywords": ["street", "road", "avenue", "street name", "gata"], "method": "street_name" },
      { "keywords": ["zip", "postcode", "postal", "postnummer"], "method": "postcode" },
      { "keywords": ["city", "town", "stad"], "method": "city" },
      { "keywords": ["countrycode", "landskod"], "method": "country_code" },
      { "keywords": ["orgranization", "organisation"], "method": "organization_id" },
      { "keywords": ["address", "location", "street", "adress"], "method": "address" },
      { "keywords": ["country", "countryname", "nation"], "method": "country" },
      { "keywords": ["state", "province", "region"], "method": "state" },
      { "keywords": ["url", "uri", "website", "web"], "method": "uri" },
      { "keywords": ["description", "descr", "summary", "text", "comment", "content", "additionalinfo", "info"], "method": "sentence", "args": { "nb_words": 12 } },
      { "keywords": ["number", "nummer", "amount", "antal"], "method": "random_int", "wrap": "str", "args": { "min": 0, "max": 10000 } },
      { "keywords": ["username", "user name", "login"], "method": "user_name" },
      { "keywords": ["vat", "vat code", "vat number", "moms", "momsnummer"],"method": "company_vat"},
      { "keywords": ["ipv4", "ipv6"], "method": "ipv4" },
      { "keywords": ["name", "title", "namn"], "method": "name" }
    ]
}